body {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-thirds {
  flex-basis: 66%;
}

img {
  max-width: 100%;
}
