body {
  font-family: Avenir, sans-serif;
}

header {
  border-bottom: 1px solid #e7e9ec;
  height: 55px;
  width: 100%;
}

.container {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > img {
  width: 120px;
  margin: 0 55px;
}

button {
  font-family: Avenir, sans-serif;
  background-color: #294464;
  color: white;
  border: none;
  padding: 7px 10px;
  margin-right: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  font-size: 13px;
  text-decoration: none;
  color: #a0a0a0;
  width: 100px;
  padding: 20px;
}
